<style>
  body {
    padding: 5em;
    background: #eee !important;
  }

  .mat-card-container, .mat-content-container {
    background: #eee !important;
  }

  .mat-content-container{
    height: 100%;
  }

  input {
    margin-right: 3em;
  }

  mat-card {
    margin: 3em;
    padding: 2em;
    width: 80%;
  }

  .mat-form-field{
    margin-right:1em;
  }

  .pathGroup {
    display: flex;
    position: relative;
  }

  .segId {
    margin-left:1em;
  }
</style>

<!-- Toolbar -->
<div class="mat-content-container" role="main">
  <mat-toolbar color="primary">
    <span>Orb Calculator</span>
  </mat-toolbar>
  <!-- Resources -->

  <div class="mat-card-container">
    <mat-card>

      <mat-card-title>Parameters</mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Starting node</mat-label>
            <input matInput type="number" [(ngModel)]="startingNode" name="startingNode">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Maximum attempts</mat-label>
            <input matInput type="number" [(ngModel)]="maxAttempts" name="maxAttempts">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions *ngIf="!generating" color="accent">
        <button mat-button (click)="findSolution()" >GENERATE AND EVALUATE</button>
      </mat-card-actions>
      <mat-card-footer>
        <h4>{{attempts}} patterns evaluated.</h4>
        <mat-progress-bar *ngIf="generating == true" mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-title>Best effort</mat-card-title>
      <mat-card-subtitle>{{maxLit}}/{{orb.segments.length}} powered segments.</mat-card-subtitle>

      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let channelNumber of [0,1,2,3]">
          <mat-label color="accent" style="font-weight:bold;height: 2.5em;">Channel {{ channelNumber }}</mat-label>
          <div class="pathGroup">
            <div class="segId" *ngFor="let segmentIndex of orb.bestPath[channelNumber]"><mat-icon [matBadge]="segmentIndex"></mat-icon></div>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-card-footer>
        <mat-progress-bar *ngIf="generating == true" mode="determinate" [value]="(maxLit / orb.segments.length * 100)">
        </mat-progress-bar>
        <br/>
        <h6>{{allLit ? "Huzzah!" : "Not there yet."}}</h6>
      </mat-card-footer>
    </mat-card>
  </div>
</div>