body {
    padding: 5em;
    background: #eee !important;
  }

  .mat-card-container,
  .mat-content-container {
    background: #eee !important;
  }

  .mat-content-container {
    height: 100%;
  }

  input {
    margin-right: 3em;
  }

  mat-card {
    padding: 2em;
    max-width: 80%;
    margin: auto;
    margin-top: 2em;
  }

  .mat-form-field {
    margin-right: 1em;
  }

  .action-buttons-container{
    flex-flow: row-reverse;
  }

  .pathGroup {
    display: flex;
    position: relative;
    left: 80px;
    top: -0.5em;
  }

  .unlit-segment-container {
    position: relative;
    margin-top: 3em;
  }

  .segments {
    display: flex;
    position: relative;
    left: 100px;
    top: -2.5em;
  }

  .controller-input{
    margin:1em;
  }

  .channel-subheader {
    position: absolute;
    font-size: x-small;
    left: 0;
    top: 2.3em;
    font-weight: lighter;
  }

  .result-label{
    margin-top: 1em !important;
    position: relative;
    left: 45%;
  }

  .wide-display{
    display:flex;
    flex-flow: row;
    flex-basis: auto;
    align-items: flex-start;
  }

  .flex-card{
    flex-grow:1;
  }