<style>
  body {
    padding: 5em;
    background: #eee !important;
  }

  .mat-card-container,
  .mat-content-container {
    background: #eee !important;
  }

  .mat-content-container {
    height: 100%;
  }

  input {
    margin-right: 3em;
  }

  mat-card {
    margin: 3em;
    padding: 2em;
    width: 80%;
  }

  .mat-form-field {
    margin-right: 1em;
  }

  .pathGroup {
    display: flex;
    position: relative;
  }

  .unlit-segment-container {
    position: relative;
    margin-top: 3em;
  }

  .segments {
    display: flex;
    position: relative;
    left: 100px;
    top: -2.5em;
  }

  .channel-subheader {
    position: absolute;
    font-size: x-small;
    left: 0;
    top: 2.3em;
    font-weight: lighter;
  }
</style>

<!-- Toolbar -->
<div class="mat-content-container" role="main">
  <mat-toolbar color="primary">
    <span>Orb Calculator</span>
  </mat-toolbar>
  <!-- Resources -->

  <div class="mat-card-container">
    <mat-card>

      <mat-card-title>Parameters</mat-card-title>
      <mat-card-content>
        <form>
          <mat-form-field appearance="fill">
            <mat-label>Starting node 1</mat-label>
            <input matInput type="number" [(ngModel)]="startingNode1" name="startingNode1">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Starting node 2</mat-label>
            <input matInput type="number" [(ngModel)]="startingNode2" name="startingNode2">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Maximum attempts</mat-label>
            <input matInput type="number" [(ngModel)]="maxAttempts" name="maxAttempts">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions *ngIf="!generating" color="accent">
        <button mat-button (click)="findSolution()">GENERATE AND EVALUATE</button>
        <button mat-button (click)="resetOrb()">RESET</button>
      </mat-card-actions>
      <mat-card-footer>
        <h4>{{attempts}} patterns evaluated.</h4>
        <mat-progress-bar *ngIf="generating == true" mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>

    <mat-card>
      <mat-card-title>Best effort</mat-card-title>
      <mat-card-subtitle>{{maxLit}}/{{orb.segments.length}} powered segments.</mat-card-subtitle>
      <mat-card-content>
        <div *ngFor="let startNode of bestPaths | keyvalue">
          <mat-list role="list">
            <h3>Controller at node {{startNode.key}}</h3>

            <mat-list-item role="listitem" *ngFor="let channelNumber of [0,1,2,3]">
              <div class="mat-title" color="accent">Channel {{ channelNumber }} </div>
              <span class="channel-subheader">({{startNode.value[channelNumber].length}} segments,
                {{totalLedsInChannelPath(startNode.key, channelNumber)}} leds)</span>
              <div class="pathGroup">
                <div class="segId" *ngFor="let segmentIndex of startNode.value[channelNumber]">
                  <mat-icon [matBadge]="segmentIndex"></mat-icon>
                </div>
              </div>
            </mat-list-item>

          </mat-list>
        </div>
        <mat-divider></mat-divider>
        <div class="unlit-segment-container" *ngIf="unlitSegments.length > 0">
          <div class="mat-title" style="width: 100px;text-align: right;" color="accent">Un-Lit</div>
          <span class="channel-subheader">({{unlitSegments.length}} un-lit segments, {{totalUnlitLeds}} leds)</span>
          <div class="segments">
            <div class="segId" *ngFor="let segmentId of unlitSegments">
              <mat-icon [matBadge]="segmentId" color="accent"></mat-icon>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <mat-progress-bar *ngIf="generating" mode="determinate" [value]="(maxLit / orb.segments.length * 100)">
        </mat-progress-bar>
        <br />
        <div *ngIf="allLit">Huzzah!</div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>