body {
    padding: 5em;
    background: #eee !important;
  }

  .mat-card-container,
  .mat-content-container {
    background: #eee !important;
  }

  .mat-content-container {
    height: 100%;
  }

  input {
    margin-right: 3em;
  }

  mat-card {
    margin: 3em;
    padding: 2em;
    width: 80%;
  }

  .mat-form-field {
    margin-right: 1em;
  }

  .pathGroup {
    display: flex;
    position: relative;
    left: 80px;
    top: -0.5em;
  }

  .unlit-segment-container {
    position: relative;
    margin-top: 3em;
  }

  .segments {
    display: flex;
    position: relative;
    left: 100px;
    top: -2.5em;
  }

  .channel-subheader {
    position: absolute;
    font-size: x-small;
    left: 0;
    top: 2.3em;
    font-weight: lighter;
  }

  .result-label{
    margin-top: 1em !important;
    position: relative;
    left: 45%;
  }